@font-face {
    font-family: Brigitha Signature;
    font-weight: normal;
    src: url('/public/fonts/brigitha-signature.ttf');
}

@font-face {
    font-family: Abhaya Libre;
    font-weight: normal;
    src: url('/public/fonts/AbhayaLibre-Regular.ttf');
}

@font-face {
    font-family: Abhaya Libre;
    font-weight: bold;
    src: url('/public/fonts/AbhayaLibre-Bold.ttf');
}

@font-face {
    font-family: Bebas Neue;
    font-weight: normal;
    src: url('/public/fonts/BebasNeue-Regular.ttf');
}

body {
    font-family: Abhaya Libre;
}